*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: cornsilk;
}

.title{
	text-align: center;
	letter-spacing: 2px;
	width: 300px;
	margin: 0 auto;
	background-color: darkred;
	padding: 0.5rem 0.8rem;
	color: white;
	font-size: 3rem; 
	cursor: pointer;
}